//Container width
$layout-width: 960px;

//colors
$color-green-mint: #2ab754; 
$font-base-gray: #4d4d4d;

//type
$font-size-base: 16px;
$font-weight-light: 300;

//Modal variables
$modal-width: 700px;
$modal-height: 450px;

//buttons
$line-height-btn: 48px;
$btn-height: 48px;
$btn-width: 200px;

//Media Queries 

$mobile: 767px;